.hero {
    height: 100vh; /* 100vh */
    display: flex;
    align-items: last baseline;
    gap: 13.5vw;
    padding-bottom: 5.2vw;
    @include devices(tablet) {
        height: 90vw;
        flex-direction: column-reverse;
        gap: 5vw;
    }
    @include devices(mobile) {
        height: 133vw;
        gap: 7vw;
    }
    .left {
        width: 25%;
        height: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include devices(laptop) {
            height: auto;
        }
        @include devices(tablet) {
            width: 90%; /* This creates an upset mobile safari */
                height: auto; /* 25vw */
                box-sizing:content-box;
                margin:0 auto;
        }
        @include devices(mobile) {

            width: 90%; /* This creates an upset mobile safari */
            height: auto;
            box-sizing:content-box;
            margin:0 auto;
        }
        p:nth-child(1) {
            @include font20;
        }

        p:nth-child(2) {
            @include font18;

            span {
                margin-left: 2vw;
                @include devices(tablet) {
                    margin-left: 4vw;
                }
                @include devices(mobile) {
                    margin-left: 8vw;
                }
            }
        }
    }

    .right {
        width: 90%;
        @include devices(tablet) {
            width: 90%; /* This creates an upset mobile safari */
                height: auto; /* 25vw */
                box-sizing:content-box;
                margin:0 auto;
        }
        h1 {
            @include font94;
        }
        @include devices(mobile) {
            
            width: 90%; /* This creates an upset mobile safari */
            height: auto;
            box-sizing:content-box;
            margin:0 auto;
        }
    }
}