
joseph/assets/jvg_coverletter_spd.pdf
joseph/assets/jvg_coverletter_dropbox.pdf
joseph/assets/jvg_coverletter_stripe.pdf
joseph/assets/jvg_coverletter_netflix.pdf
joseph/assets/jvg_coverletter_hasbro.pdf
joseph/.DS_Store
.vscode/settings.json
